{% assign items_per_row = section.settings.items_per_row %}

<div class="container blog-content">
    <div class="sixteen columns" data-blog-size="">
        {% for block in section.blocks %}
          {% assign blog = blogs[block.settings.blog_widget_select] %}
          {% assign articles = articles | concat: blog.articles %}
        {% endfor %}
        {% include 'include-featured-blog-content', type: 'block', back_to_image:true %}
    </div>
    <div id="loadMore">
      <a href="#">Load More</a>
  </div>
</div>
