
<div class="container full-width--true bg-grey product-image">
  <div class="featured-link--half">
    {% include 'include-image-with-products' %}
  </div>
  <div class="featured-link--half">
      <div class="container featured-collection__products content">
        <div class="sixteen columns">
          <div itemtype="http://schema.org/ItemList" class="product-list {{ matrixType }} clearfix equal-columns--clear equal-columns--outside-trim">
            {% for block in section.blocks %}
              {% assign product = all_products[block.settings.f_product] %}
              {% assign products_per_row = 2 %}
              {% assign product_title = product.title %}
              {% include 'product-thumbnail', sidebar: sidebar %}
            {% endfor %}
          </div>
        </div>
        <div class="content featured-collection_button">
          <a href="{{ section.settings.url }}" class="button white">{{section.settings.button_title}}</a>
        </div>
      </div>
      
  </div>
</div>



