{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}
{% include 'image-text' %}
{% schema %}
{
  "name": "image&text (Collection 2)",
  "class": "image-with-text-section_2",
  "max_blocks": 16,
  "settings": [
    {
      "type": "checkbox",
      "id": "frontpage_grid_style",
      "label": "Wide display"
    },
    {
      "type": "select",
      "id": "featured_links_per_row",
      "label": "Images per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "frontpage_image_position",
      "label": "First image position",
      "info": "Subsequent images will appear staggered",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "checkbox",
          "id": "is_donation_button",
          "label": "Donation"
        },
        {
          "type": "text",
          "id": "donation_count",
          "label": "Donation Count",
          "default": "1234"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_image_1",
          "label": "Icon Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "icon_title_1",
          "label": "Icon Title",
          "default": "Your headline"
        },
        {
          "type": "url",
          "id": "icon_link_1",
          "label": "Icon Url"
        },
        {
          "type": "image_picker",
          "id": "icon_image_2",
          "label": "Icon Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "icon_title_2",
          "label": "Icon Title",
          "default": "Your headline"
        },
        {
          "type": "url",
          "id": "icon_link_2",
          "label": "Icon Url"
        },
        {
          "type": "image_picker",
          "id": "icon_image_3",
          "label": "Icon Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "icon_title_3",
          "label": "Icon Title",
          "default": "Your headline"
        },
        {
          "type": "url",
          "id": "icon_link_3",
          "label": "Icon Url"
        },
        {
          "type": "image_picker",
          "id": "icon_image_4",
          "label": "Icon Image",
          "info": "1024 x 1024px recommended"
        },
        {
          "type": "text",
          "id": "icon_title_4",
          "label": "Icon Title",
          "default": "Your headline"
        },
        {
          "type": "url",
          "id": "icon_link_4",
          "label": "Icon Url"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image with text",
    "category": "Image",
    "settings": {
      "featured_links_per_row": "1",
      "frontpage_text_align": "left"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
