<div id="page-blog-section">
    {% if section.settings.show_banner and section.settings.header_banner_image != blank %}
        {% include 'page-brand'%}
    {% endif %}
    {% if section.settings.feature_category_slide and section.blocks.size > 0 %}
        {% include 'blog-category-slideshow' %}
    {% endif %}

    {% include 'blog-content' %}

</div>
{% schema %}
{
    "name"  : "Content section",
    "class" : "blog-section",
    "max_blocks": 20,
    "settings"  : [
        {
            "type": "header",
            "content": "Header banner"
        },
        {
            "type": "checkbox",
            "id": "show_banner",
            "label": "Feauture heading banner",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "header_banner_image",
            "label": "Header banner",
            "info": "2048 x 415px recommended"
        },
        {
        "type": "checkbox",
        "id": "image_darken",
        "label": "Darken image",
        "default": false
        },
        {
        "type": "select",
        "id": "collection_title_position",
        "label": "Collection title position",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ]
        },
        {
            "type": "image_picker",
            "id": "header_banner_icon",
            "label": "Banner icon"
        },
        {
        "type": "checkbox",
        "id": "display_collection_title",
        "label": "Display caption title"
        },
        {
            "type": "checkbox",
            "id": "display_collection_content",
            "label": "Display caption content"
        },
        {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ],
        "default": "center"
        },
        {
        "type": "checkbox",
        "id": "caption_background_transparency",
        "label": "Enable text background transparency"
        },
        {
        "type": "color",
        "id": "cap_bg_color",
        "label": "Caption background color"
        },
        {
        "type": "color",
        "id": "cap_title_color",
        "label": "Caption title color"
        },
        {
        "type": "checkbox",
        "id": "red_caption",
        "label": "Show red caption"
        },
        {
        "type": "header",
        "content": "Page content"
        },
        {
            "type": "header",
            "content": "Blog Category"
        },
        {
            "type": "checkbox",
            "id": "feature_category_slide",
            "label": "Feature blog category",
            "default": true
        },
        {
            "type": "range",
            "id": "item_per",
            "label": "category per row",
            "min": 2,
            "max": 7,
            "step": 1,
            "default": 3
          },
          {
            "type": "range",
            "id": "item_limit",
            "label": "Limit category",
            "min": 2,
            "max": 50,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "item_per_row",
            "label": "Items per row",
            "min": 2,
            "max": 7,
            "step": 1,
            "default": 4
          },
          {
            "type": "range",
            "id": "mobile_item_row",
            "label": "Mobile items per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
          },
          {
            "type": "range",
            "id": "blog_posts_per_page",
            "label": "Blog posts per page",
            "min": 1,
            "max": 50,
            "step": 1,
            "default": 12
          }
    ],
    "blocks" : [
        {
            "name": "Category slide image",
            "type": "blog",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Category image",
                    "info": "480 x 480px recommended"
                },
                {
                    "type": "blog",
                    "id": "blog_widget_select",
                    "label": "Blog category"
                }
            ]
        }
    ]
}
{% endschema %}
